[Desktop Entry]
Name=Misty Forest
X-KDE-PluginInfo-Name=MistyForest
X-KDE-PluginInfo-Author=Joshua Strot
X-KDE-PluginInfo-Email=joshua@winrylinux.org
X-KDE-PluginInfo-License=GPLV3
