[Desktop Entry]
Name=Winry 0.1
X-KDE-PluginInfo-Name=Winry
X-KDE-PluginInfo-Author=Joshua Strot
X-KDE-PluginInfo-Email=joshua@winrylinux.org
X-KDE-PluginInfo-License=GPLV3
